.App {
  display: grid;
  grid-template-rows: 100px auto;
  grid-template-columns: 100px auto;
  grid-template-areas: 'header header' 'nav articleList' 'footer footer';
}

.NavBar {
  grid-area: nav;
  border: solid;
}

.Header {
  grid-area: header;
  border: solid;
}

.list__article {
  grid-area: articleList;
}

.card__article {
  border: solid;
  margin: 5px;
}

.header__article {
  display: inline-flex;
}

.card__comment {
  border: solid;
  margin: 5px;
}

.header__comment {
  display: inline-flex;
}

.form__comment {
  height: 200px;
  margin: 5px;
  display: grid;
  grid-template-rows: 30px auto 30px;
  grid-template-columns: auto;
  grid-template-areas: 'label' 'input' 'submit';
}

.title__commentForm {
  grid-area: label;
}

.btn__submit {
  grid-area: submit;
}

.input__comment {
  grid-area: input;
  width: 100%;
}
