.App {
  display: grid;
  grid-template-rows: 0.5fr auto 0.5fr;
  grid-template-areas: 'header header' 'nav articleList' 'footer footer';
  grid-template-columns: 2fr 10fr;
  background-color: rgb(243, 242, 242);
  font-family: Gill Sans, sans-serif;
}

@media only screen and (max-width: 600px) {
  .App {
    display: grid;
    grid-template-rows: 0.5fr 1fr auto 0.5fr;
    grid-template-areas: 'header' 'nav' 'articleList' 'footer';
    grid-template-columns: auto;
  }

  .NavBar__list {
    display: flex;
    flex-direction: row !important;
    margin: 15px 60px 0 0 !important;
    justify-content: space-evenly;
  }

  li {
    padding: 0 !important;
    margin: 0 30px 0 30px;
  }

  .topic__link {
    margin: 0 !important;
  }

  .sort,
  .form__comment,
  .card__comment,
  .card__article {
    margin: 5px !important;
  }

  .sort {
    padding-left: 0 !important;
  }

  .body__article {
    font-size: 15px !important;
  }
  .sort__articles {
    margin-top: 0 !important;
  }
  .title__article {
    font-weight: 400 !important;
  }

  .topicIcon {
    height: 40px !important;
    width: 40px !important;
    padding-top: 0 !important;
  }

  .topicIcon__nav {
    height: 25px !important;
    width: 25px !important;
  }
}

@media only screen and (min-width: 950px) {
  .sort,
  .card__comment,
  .card__article {
    margin: 10px 50px 10px 50px !important;
  }

  .form__comment {
    margin: 40px 50px 40px 50px !important;
  }

  .App {
    display: grid;
    grid-template-rows: 0.5fr auto 0.5fr;
    grid-template-areas: 'header header' 'nav articleList' 'footer footer';
    grid-template-columns: 1fr 10fr;
  }

  .sort {
    padding-left: 0 !important;
  }
}

/* Header */

.Header {
  grid-area: header;
  display: grid;
  grid-template-columns: auto 40px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'title userIcon'
    'title user'
    'title userName';
  background-color: rgb(82, 82, 82);
}

.red {
  color: rgb(209, 24, 24);
}

.userName {
  grid-area: userName;
  font-size: 12px;
  place-self: center;
  margin: 0;
  padding-bottom: 5px;
  padding-right: 15px;
  color: white;
}

h1 {
  place-self: center;
  margin-left: 10px;
  color: white;
  display: flex;
  font-weight: 700;
  border-bottom: solid rgb(209, 24, 24);
}

.userIcon {
  height: 40px;
  width: 40px;
  background-color: rgb(82, 82, 82);
  color: white;
  grid-area: userIcon;
  place-self: center;
  padding-top: 5px;
  padding-right: 15px;
}

.ncnews {
  grid-area: title;
  place-self: center left;
  padding-left: 10px;
  color: white;
}

.user__header {
  grid-area: user;
  place-self: center;
  margin: 0;
  font-size: 10px;
  color: hsla(0, 0%, 89%, 0.801);
  padding-right: 15px;
}

/* NavBar */

.NavBar {
  grid-area: nav;
}

.NavBar__list {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 15px;
  height: 100%;
}

.NavBar__topic {
  margin: 3px;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
  background-color: white;
  font-weight: 600;
  padding: 100px 0px 20px 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  flex-direction: column;
}

.topic__link {
  color: hsl(0, 0%, 13%);
  text-decoration: none;
  font-weight: 600;
  position: absolute;
  margin-left: 15px;
}

.topic__link:hover {
  border-bottom: ridge rgb(209, 24, 24);
  position: absolute;
}

.topicIcon__nav {
  height: 35px;
  width: 35px;
}

/* ArticleList */

.topicIcon {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 70px;
  width: 70px;
  align-self: center;
}

.topicIcon--border {
  border-bottom: solid rgb(209, 24, 24);
}

.list__article {
  grid-area: articleList;
  display: flex;
  flex-direction: column;
}

.sort {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 30px;
}

.filter__user {
  align-items: center;
}

.sort__articles {
  align-items: center;
  margin: none;
}

.dropdown {
  display: block;
  font-size: 10px;
  font-weight: 600;
  color: #444;
  line-height: 1.3;
  padding: 0.2em 0.8em 0.2em 0.1em;
  box-sizing: border-box;
  margin: 0;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 0.5em;
  appearance: none;
  background-color: #fff;
  background-image: url('/images/down-arrow.jpeg');
  background-repeat: no-repeat;
  background-position: right 0.2em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
/* ArticleCard */

.card__article {
  margin: 15px 20px 0px 20px;
  box-shadow: 0 2px 1px 0 hsla(0, 0%, 0%, 0.068);

  border: 1px solid rgba(138, 130, 130, 0.349);
  border-radius: 5px;
  background-color: white;
  letter-spacing: 0.7px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto 40px;
  grid-template-areas:
    'main votes'
    'main votes';
}

.card__article:hover {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.479);
}

.link__article {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 30px;
  grid-template-areas:
    'articleTitle articleTitle'
    'articleBody articleBody'
    'footer footer';
}

.title__article {
  grid-area: articleTitle;
  font-weight: 600;
  margin: 0;
  place-self: start left;
  padding: 10px;
  color: hsl(0, 0%, 13%);
}

/* .author__article {
  grid-area: author;
} */

.body__article {
  grid-area: articleBody;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  padding: 12px;
  margin: 0;
  color: hsl(0, 0%, 24%);
  overflow: hidden;
  border-top: 1px solid rgba(138, 130, 130, 0.349);
  border-bottom: 1px solid rgba(138, 130, 130, 0.226);
  /* box-shadow: 0 2px 6px 0 hsla(0, 2%, 18%, 0.2); */
}

.footer__article {
  grid-area: footer;
  display: grid;
  grid-template-columns: 0.7fr 10fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'commentIcon numComments username avatar';
  font-weight: 400;
  color: hsl(0, 0%, 47%);
}

.author__article {
  grid-area: username;
  align-self: center;
  justify-self: flex-end;
  margin: 0;

  font-weight: 400;
  font-size: 0.8em;
  color: hsla(0, 0%, 22%, 0.829);
}

.icon__user {
  grid-area: avatar;
  align-self: center;
  height: 20px;
  width: 20px;
  padding-left: 5px;
}

.commentIcon {
  grid-area: commentIcon;
  height: 20px;
  width: 20px;
  align-self: center;
  justify-self: end;
  padding-left: 8px;
  padding-right: 6px;
}

.footer__numberOfComments {
  grid-area: numComments;
  align-self: center;
  margin: 0;
}

/* Voter */

.voter {
  grid-area: votes;
  background-color: rgb(230, 228, 228);
}

.voter__btn--img {
  height: 30px;
  width: 30px;
  filter: opacity(50%);
}

.voter__btn--img:hover {
  height: 30px;
  width: 30px;
  filter: opacity(90%);
}

.voter__btn--up {
  transform: rotate(180deg);
}

.voter__btn {
  border: none;
  background-color: rgb(230, 228, 228);
}

.voter__votes {
  margin: 0;
  text-align: center;
}

/* CommentList */

.header__comment {
  display: inline-flex;
}

/* CommentCard */

.card__comment {
  background-color: white;
  margin: 15px 20px 0px 20px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border: 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto 45px;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'user votes'
    'comment votes'
    'delete votes';
}

.author__comment {
  grid-area: user;
  margin: 0;
  padding: 5px;
  font-style: italic;
  font-weight: 520;
}

.body__comment {
  grid-area: comment;
  margin: 8px;
  color: hsl(0, 0%, 24%);
  font-weight: 400;
}

.btn__delete {
  grid-area: delete;
  width: 50px;
  justify-self: end;
}

.icon__bin {
  height: 17px;
  width: 17px;
  background-color: white;
}

/* CommentForm */

.form__comment {
  margin: 40px 20px 40px 20px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border: 0;
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2.5fr 1fr;
  grid-template-columns: 6fr 1fr;
  grid-template-areas: 'input input' 'submit cancel';
  background-color: white;
}

.btn {
  margin: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-weight: 600;
  color: hsl(0, 0%, 24%);
  outline: none;
}

.btn:hover {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.btn__submit {
  grid-area: submit;
  background-color: rgb(230, 228, 228);
  border-radius: 5px;
  width: 20%;
  justify-self: end;
}

.btn__cancel {
  grid-area: cancel;
  background-color: white;
}

.input__comment {
  grid-area: input;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  margin: 10px;
  font-size: 15px;
}

textarea {
  outline: none;
  resize: none;
}

.link {
  text-decoration: none;
  color: black;
}

.loaderSpinner {
  height: 1000px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(216, 37, 37);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
