@media only screen and (max-width: 600px) {
  .App {
    display: flex !important;
    flex-direction: column !important;
  }

  .topicIcon {
    height: 40px !important;
    width: 40px !important;
    padding-top: 20px !important;
  }

  .ncnews {
    padding: 0 !important;
  }

  .list__topic {
    margin: 5px 0 5px 0 !important;
  }

  .title {
    margin: 10px 10px 10px 10px !important;
    padding: 0 !important;
  }

  .card__article {
    margin: 15px 10px 0px 10px !important;
  }

  .card__comment {
    margin: 15px 10px 0px 10px !important;
  }

  .form__comment {
    margin: 15px 10px 30px 10px !important;
  }

  .voter__btn--img {
    height: 25px !important;
    width: 25px !important;
  }

  .sort {
    padding: 0 !important;
    margin: 30px 10px 0px 10px !important;
  }

  .topicIcon__nav {
    height: 25px !important;
    width: 25px !important;
  }

  .Header {
    display: flex !important;
    flex-direction: column;
    align-items: center;
  }

  .list__topic {
    border-right: none !important;
  }

  .body__article {
    font-size: 0.8em !important;
  }

  .body__article--articleList {
    overflow: hidden !important;
  }

  .title__article {
    font-size: 1em !important;
  }

  .footer__numberOfComments {
    font-size: 0.8em !important;
  }

  .author__article {
    font-size: 0.7em !important;
  }

  .body__comment {
    font-size: 0.8em !important;
  }

  .author__comment {
    font-size: 0.8em !important;
  }

  .btn {
    font-size: 0.8em !important;
    width: 90px !important;
  }
}

@media only screen and (max-width: 1000px) {
  .App {
    grid-template-columns: 1fr 5fr 1fr !important;
  }
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 'header header header' '. main .' 'footer footer footer';
  background-color: rgba(180, 192, 202, 0.63);
  font-family: Gill Sans, sans-serif;
}

.main {
  grid-area: main;
}

.red {
  color: rgb(209, 24, 24);
}

/* Header */

.Header {
  grid-area: header;
  display: grid;
  grid-template-columns: 3fr auto auto;
  grid-template-rows: auto;
  grid-template-areas: 'title topics account';
  background-color: white;
  font-size: 0.8em;
  box-shadow: 0px 0px 5px 5px rgba(112, 111, 112, 0.11);
}

.title {
  color: black;
  display: flex;
  font-weight: 650;
  letter-spacing: 0.05em;
  border-bottom: solid rgb(209, 24, 24);
  margin: 10px 10px 10px 20px;
}

.userIcon {
  grid-area: account;
  justify-self: end;
  align-self: center;
  height: 40px;
  width: 40px;
  background-color: white;
  padding: 5px 40px 5px 40px;
}

.ncnews {
  grid-area: title;
  place-self: center left;
  padding-left: 10px;
}

/* NavBar */

.NavBar {
  grid-area: topics;
}

.NavBar__list {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  list-style-type: none;
  align-items: center;
}

.list__topic {
  border-right: solid;
}

.topic__link {
  color: black;
  text-decoration: none;
  font-weight: 600;
  margin: 0px 30px 0px 30px;
  font-size: 1.5em;
}

.topic__link:hover {
  border-bottom: ridge rgb(209, 24, 24);
}

.topicIcon__nav {
  height: 35px;
  width: 35px;
}

/* Footer */
.footer {
  grid-area: footer;
  margin-top: 50px;
  padding-left: 5pxascd;
  border-top: 1px solid rgba(138, 130, 130, 0.637);
}

/* ArticleList */
.topicIcon {
  padding-top: 20px;
  padding-bottom: 10px;
  height: 70px;
  width: 70px;
  align-self: center;
}

.topicIcon--border {
  border-bottom: solid rgb(209, 24, 24);
}

.list__article {
  grid-area: articleList;
  display: flex;
  flex-direction: column;
}

.sort {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-top: 30px;
}

.dropdown {
  width: 120px;
  margin: 0 10px 15px 0;
  box-shadow: 0px 0px 5px 5px rgba(112, 111, 112, 0.11);
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}

.dropdown :active {
  transform: translateY(4px);
}
/* ArticleCard */

.card__article {
  margin: 15px 40px 20px 20px;

  box-shadow: 0px 0px 5px 5px rgba(112, 111, 112, 0.11);
  border-radius: 6px;
  background-color: white;
  letter-spacing: 0.7px;
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-template-rows: auto 40px;
  grid-template-areas:
    'main votes'
    'main votes';
}

.card__article:hover,
.dropdown:hover {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.479);
}

.card__article:hover,
.filter__user:hover,
.sort__articles:hover,
.dropdown:hover {
  cursor: pointer;
}

.link__article {
  grid-area: main;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto 30px;
  grid-template-areas:
    'articleTitle articleTitle'
    'articleBody articleBody'
    'footer footer';
}

.title__article {
  grid-area: articleTitle;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  place-self: start left;
  padding: 10px;
  color: hsl(0, 0%, 13%);
}

.body__article {
  grid-area: articleBody;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.3em;
  padding: 12px;
  margin: 0;
  color: hsl(0, 0%, 24%);
  border-top: 1px solid rgba(138, 130, 130, 0.349);
  border-bottom: 1px solid rgba(138, 130, 130, 0.226);
}

.footer__article {
  grid-area: footer;
  display: grid;
  grid-template-columns: 0.7fr 10fr 5fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 'commentIcon numComments username avatar';
  font-weight: 400;
  color: hsl(0, 0%, 47%);
}

.author__article {
  grid-area: username;
  align-self: center;
  justify-self: flex-end;
  margin: 0;

  font-weight: 400;
  font-size: 0.8em;
  color: hsla(0, 0%, 22%, 0.829);
}

.icon__user {
  grid-area: avatar;
  align-self: center;
  height: 20px;
  width: 20px;
  padding-left: 5px;
}

.commentIcon {
  grid-area: commentIcon;
  height: 20px;
  width: 20px;
  align-self: center;
  justify-self: end;
  padding-left: 8px;
  padding-right: 6px;
}

.footer__numberOfComments {
  grid-area: numComments;
  align-self: center;
  margin: 0;
  font-weight: 600;
  font-size: 0.9em;
}

/* Voter */

.voter {
  grid-area: votes;
  background-color: rgb(230, 228, 228);
  color: hsl(0, 0%, 24%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voter__btn--img {
  height: 30px;
  width: 30px;
  filter: opacity(50%);
}

.voter__btn--img:hover {
  height: 30px;
  width: 30px;
  filter: opacity(90%);
}

.voter__btn--up {
  transform: rotate(180deg);
}

.voter__btn {
  border: none;
  border-top-right-radius: 5px;
  background-color: rgb(230, 228, 228);
  outline: none;
}

.voter__btn:active {
  transform: translateY(4px);
}

.voter__votes {
  margin: 0;
  text-align: center;
}

/* CommentList */

.header__comment {
  display: inline-flex;
}

/* CommentCard */

.card__comment {
  background-color: white;
  margin: 15px 40px 0px 20px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border: 0;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 11fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    'user votes'
    'comment votes'
    'delete votes';
}

.author__comment {
  grid-area: user;
  margin: 0;
  padding: 5px;
  font-style: italic;
  font-weight: 520;
}

.body__comment {
  grid-area: comment;
  margin: 8px;
  color: hsl(0, 0%, 24%);
  font-weight: 400;
}

.btn__delete {
  grid-area: delete;
  width: 50px;
  justify-self: end;
}

.icon__bin {
  height: 17px;
  width: 17px;
  background-color: white;
}

/* CommentForm */

.form__comment {
  margin: 20px 40px 40px 20px;

  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border: 0;
  border-radius: 5px;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 6fr 1fr;
  grid-template-areas: 'input input' 'submit cancel';
  background-color: white;
}

.btn {
  margin: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  font-weight: 600;
  color: hsl(0, 0%, 24%);
  outline: none;
  background-color: white;
}

.btn:hover {
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.btn__submit {
  grid-area: submit;
  background-color: rgb(230, 228, 228);
  border-radius: 5px;
  width: 20%;
  justify-self: end;
}

.btn__cancel {
  grid-area: cancel;
  background-color: white;
}

.input__comment {
  grid-area: input;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0;
  margin: 10px;
  font-size: 15px;
  font-family: Gill Sans, sans-serif;
}

textarea {
  outline: none;
  resize: none;
}

.link {
  text-decoration: none;
  color: black;
}

.loaderSpinner {
  height: 1000px;
  place-self: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgb(216, 37, 37);
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderSpinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
